@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body{
	background-color: #BDBDBD;
}

#navBar{
	background-color: #181c22;
	opacity: 0.9;
	padding: .5em;
	position: fixed;
	display: inline;
	width: 100%;
	z-index: 1;
	border-bottom: solid 1px white;
}
.navLink{
	font-size: 20px;
	color: white;
	padding-left: 1em;
	font-family: georgia;
	text-decoration: none;
	font-variant: small-caps;
}
.navLink:hover{
	color:#E6BF4D;
	text-decoration: none;
}
.promptTitles{
	text-align: center;
	color: white;
	font-variant: small-caps;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	bottom: 20px;
}
.promptTitlesBlack{
	text-align: center;
	color: black;
	font-variant: small-caps;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	bottom: 20px;
}
.promptTitlesWhite{
	text-align: center;
	color: white;
	font-variant: small-caps;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	bottom: 20px;
}
#prompt1{
	background-image: url("img/texture_soil_sand_dirt_dark_50620_1600x900.jpg");
	
}
.promptBanners{
	padding-top: 2em;
	padding-bottom:2em;
	border: 3px solid black;
	background-repeat: no-repeat;
	background-size: cover;
}
.imagesP1{
	max-height: 25em;
	border-radius: 5px;
}
.picSet{
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 40px;
	padding-bottom: 
}
.picWords{
	float: right;
	padding-top: 60px;
}
.spacing{
	padding-top: 3em;
	padding-bottom: 2em;
}
#prompt2{
	background-image: url("img/7623_1_other_wallpapers_simple.jpg");
}
#prompt3{
	background-image: url("img/387-bronze-1920x1200-minimalistic-wallpaper.jpg");
	
}
#prompt4{
	background-image: url("img/cool-silver-wallpapers-hd.jpg");
}
#prompt5{
	background-image: url("img/Gold-Sparkly-High-Definition-Wallpaper.jpg");
}
#prompt6{
	background-image: url("img/1341650493-41004500.jpg");
}
#prompt7{
	background-image: url("img/tumblr_nn4i0uuuSz1tjpgy6o2_1280.jpg");
}
#prompt8{
	background-image: url("img/Huge-lot-of-premium-natural-emerald.jpg");
}
#prompt9{
	background-image: url("img/background.jpg");
}
#prompt10{
	background-image: url("img/3EXxUO1.jpg");
}
.img4{
	float: right;
	max-height: 11em;
	border: solid black 2px;
	border-radius: 5px;
	margin-left: 1em;
}
.para4{
	padding-left: 0px;
}
.imagesp5{
	max-height: 35em;
	border-radius: 5px;
	border: solid black 2px;
}
#p5{
	text-align: center;
}
.imgp3{
	max-width: 30em;
	border-radius: 5px;
	border: solid black 2px;
	text-align: center;
	margin: 2em;
}
.imagesp9{
	max-width: 30em;
	margin: 2em;
	border-radius: 5px;
}
#firstPara{
	margin-top: 2em;
}
.imagesp10{
	max-height: 40em;
	border-radius: 5px;
	margin: 2em;
	max-width: 70em;
}
.list10{
	size: 16px;
}
